<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
      <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
  <div class="container col-lg-6">
      <div class="form-group">
          <textarea class="form-control" id="chat-text" cols="80" rows="20"></textarea>
      </div>
      <div class="form-group">
          <input id="input" type="text" class="form-control"/>
      </div>
      <input type="button" id="submit" value="Send" class="btn btn-primary btn-block"/>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(_=>{
            const roomName = "{{ room_name }}";
      //const roomName = JSON.parse(document.getElementById('room-name').textContent)
            const userName = "{{ request.user.username }}";
            console.log(userName)
          const chatSocket =  new WebSocket(
              'ws://'+
                  window.location.host+
                  ':8000/ws/chat/'+
                  roomName+
                  '/'
          );
          chatSocket.onmessage = function(e){
              const data = JSON.parse(e.data);
              let displayText = $("#chat-text").val();
              displayText+=`${data.name} says; ${data.message}\n`;
              $("#chat-text").html(displayText)
          };
          $("#submit").on('click', function (e) {
              const msg = $("#input").val();
              chatSocket.send(JSON.stringify({
                  "message":msg,
                  "name":userName
              }));

              $("#input").val("");

          })
        });


  </script>
  </body>
</html>